[Unit]
Description=Museum Kiosk Browser
Wants=network-online.target
After=network-online.target graphical.target

[Service]
Type=simple
User=pi
Group=pi
Environment="HOME=/home/pi"
Environment="DISPLAY=:0"
WorkingDirectory=/home/pi
ExecStart=/home/pi/start_kiosk.sh
Restart=always
RestartSec=10
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=default.target